# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==0.9.4

opencv-python-headless
pyngrok
git+https://github.com/TencentARC/GFPGAN.git
git+https://github.com/openai/CLIP.git
git+https://github.com/mlfoundations/open_clip.git
